<body>
<div id="wrapper">
	<#_S>wrapper_LEFT.html</#_E>
    <div id="page-wrapper" class="gray-bg">
        <div class="fakeloader"></div>
        <div class="row border-bottom">
			<#_S>wrapper_TOP.html</#_E>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2><#_S>tableMem</#_E>查看页面</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>新增
                                <small>管理员</small>
                            </h5>
                        </div>
                        <div class="ibox-content">
                            <div class="form-horizontal" id="table">
                                <#_S>editForm</#_E>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button class="btn btn-primary" onclick="back()">返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <#_S>html_FOOTER.html</#_E>
    </div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/ajaxfileupload.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/common.js"></script>
<script src="js/web/<#_S>tableName</#_E>.js"></script>
<script src="js/layer/layer.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/inspinia.js"></script>
<script>
    $(document).ready(function () {
        var id=getQueryString("id");
        getRecord(id);
    });
</script>
</body>